.Board {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(0, 148, 86);
    padding: 0 10% 10% 10%;
}

.imageRow {
    display: flex;
    justify-content: space-around;
}