.Navbar {
    width: 99%;
    background: rgb(21, 151, 130);
    padding: 10px;
    border: 1px white solid;
    color: white;
    display: flex;
    justify-content: space-between;
}
.brand {
    text-decoration: none;
    color: white !important;
}
