.Navbar {
    width: 100%;
    background: blue;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.brand {
    text-decoration: none;
    color: white !important;
}
.result {

}
.topScore {
    
}