.imgWrapper {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: 0.5s;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

img:hover {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px black;
    border: 1px solid white;
}